<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="io.gvox.plugin.phonecalltrap"
        version="1.0.0">
    <engines>
        <engine name="cordova-android" version=">=3.0.0"/>
    </engines>

  <name>PhoneCallTrap</name>

  <description>A phone call trap</description>
  <license>MIT</license>
  <keywords>phonegap,calendar, phone, call, phone-call</keywords>
    <license>MIT</license>
    <asset src="www/PhoneCallTrap.js" target="PhoneCallTrap.js" />
    
    <platform name="android">
      <source-file src="src/android/PhoneCallTrap.java" target-dir="src/io/gvox/phonecalltrap" />
    
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="PhoneCallTrap">
            <param name="android-package" value="io.gvox.phonecalltrap.PhoneCallTrap" />
          </feature>
        </config-file>

      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
     </config-file>
   </platform>
</plugin>

